*{
    padding: 0;
    margin: 0;
    
}


body{
    background: rgba(241, 245, 249, 1);

}

.content{
    display: flex;
    margin-top:18px;
    margin-left: 50px;
    gap:13rem;
}
.text-content{
    margin-top: 150px;
}
.text-content p{
    color: rgba(71, 85, 105, 1);
    margin-top: 20px;

}

.text-content h1{
    font-size: 72px;
    white-space: nowrap;
    color: rgba(15, 23, 42, 1);

}

.text-content h2{
    font-size: 56px;
    color: rgba(15, 23, 42, 1);

}

.big-images{
    left: 280px;
}
.button_download pz{
    margin-left: 10px;
}

.buttons {
    margin-top: 30px;
    margin-left: 5px;
    display: flex;
    gap: 2rem;
}

.buttons button {
    background: rgba(15, 23, 42, 1);
    white-space: nowrap;
    border-radius: 12px;
    padding: 11px;
    width: 150px;
    height: 50px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
    border: none;
}

.buttons button:nth-child(1) .button_download span {
    color: white;
}

.buttons button:nth-child(1) svg path {
    fill: white; 
}


.buttons {
    margin-top: 30px;
    margin-left: 5px;
}

.buttons button:nth-child(2){
    background: white;
    border-radius: 12px;
    padding: 11px;
    width: 150px;
    height: 50px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: rgba(15, 23, 42, 1);

}
.fa-solid{
    margin-top: 10px;
}


.buttons button:nth-child(2) .button_download span {
    color: white;
}

.buttons button:nth-child(2) svg path {
    fill: white; 
    
}

.button_download p{
    margin-bottom: 15px;
    margin-left: 10px;
}


.fa-solid{
    margin-bottom: 8px;
}



.big-1{
    margin-left: 136px;
    width: 280px;
}

.big-2{
    width: 280px;
}

.big-3{
    width: 280px;
    margin-left: 136px;
    margin-bottom: 50px;

}

.big-4{
    width: 280px;

}